<head>
    <script src="{{url_for('static', filename='randomize.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='randomize.css')}}">
</head>

{% extends "base.html" %}

{% block body %}

    <div class="player-wrapper">
        <h3> Currently Playing: <span id="video-title"></span> </h3>

        <span class="button-wrapper">
            <button id="prev-video-button" onclick="loadPreviousVideo()"> <-- Previous (p)</button>
            <button id="next-video-button" onclick="loadNextVideo()">Next (n) --> </button>
        </span>

        <!-- The <iframe> (and video player) will replace this <div> tag. -->
        <div id="player"></div>
    </div>

    <h2 class="video-list-h2"> Video List </h2>
    <div class="list-wrapper">
        <ul id="video-list">
        {% for video in videos %}
            <li class="video" data-index="{{loop.index0}}"> {{ video['title'] }} </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}
